body {
    
    background-color: gray;
}

#navbar {
    height: 70px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#menu {
    
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   
}
#youtubelogo {
  
    margin-left: 30px;
    height: 40px;
}

#logos {
    align-self: flex-start;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;

}

#searchbar {
    align-self: center;
    height: 35px;
    display: flex;
    flex-grow: 0.5;
}

#searchinput {
    flex-grow: 1;
}

#lupa {
    height: 10px;
}

 #upload-sign {
     width: 200px;
     display: flex;
     align-self: flex-end;
     margin-right: 40px;
     justify-content: space-between;
 }

#upload {
    align-self: flex-start;
    height: 35px;
}

#sign {
    background-color: steelblue;
    border: none;
    border-radius:4px;
    color: white;
}

#language{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-color: steelblue;
    border-style: solid;

}

#languageImg{
    margin-top: 5px;
    margin-left: 10px;
    height: 35px;
}

#chooseLanguage{
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: steelblue;
    height: 40px;
    color: white;
    justify-content: space-between;
}

#supportLanguage{
    display: flex;
    flex-direction: row;
}

#languageText{
    align-self: flex-start;
}


#preferenceLanguage{
    display: flex;
    text-align: center;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    
}

#closeLanguage{
    align-self: flex-end;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

#chooseLanguage a{
    margin-left: 10px;
}

#preferenceLanguage a{
    text-decoration: none;
}

#learnMore{
    font-size: 10px;
    margin-top: 20px;
    margin-right: 10px;
}

#preferenceLanguage p{
    margin-left: 10px;
}

#mainPage{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#video{
    display: flex;
    flex-direction: column;
}

#recommendedVideos{
    display: flex;
    flex-direction: column;    
}

#firstSection{
    display: flex;
    flex-direction: row;
}

#userSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}