body {
    
    background-color: gray;
}

#navbar {
    height: 70px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#navigation {
    display: flex;
    position: ;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#menu {
    
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   
}
#youtubelogo {
  
    margin-left: 30px;
    height: 40px;
}

#logos {
    align-self: flex-start;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;

}

#searchbar {
    align-self: center;
    height: 35px;
    display: flex;
    flex-grow: 0.5;
}

#searchinput {
    flex-grow: 1;
}

#lupa {
    height: 10px;
}

 #upload-sign {
     width: 200px;
     display: flex;
     align-self: flex-end;
     margin-right: 40px;
     justify-content: space-between;
 }

#upload {
    align-self: flex-start;
    height: 35px;
}

#sign {
    background-color: steelblue;
    border: none;
    border-radius:4px;
    color: white;
}

