body {
    
    background-color:  rgb(226, 226, 226);
}

#navbar {
    height: 70px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#menu {
    
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
   
}
#youtubelogo {
  
    margin-left: 30px;
    height: 40px;
}

#logos {
    align-self: flex-start;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;

}

#searchbar {
    align-self: center;
    height: 35px;
    display: flex;
    flex-grow: 0.5;
}

#searchinput {
    flex-grow: 1;
}

#lupa {
    height: 10px;
}

 #upload-sign {
     width: 200px;
     display: flex;
     align-self: flex-end;
     margin-right: 40px;
     justify-content: space-between;
 }

#upload {
    align-self: flex-start;
    height: 35px;
}

#sign {
    background-color: steelblue;
    border: none;
    border-radius:4px;
    color: white;
}

#language{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-color: steelblue;
    border-style: solid;

}

#languageImg{
    margin-top: 5px;
    margin-left: 10px;
    height: 35px;
}

#chooseLanguage{
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: steelblue;
    height: 40px;
    color: white;
    justify-content: space-between;
}

#supportLanguage{
    display: flex;
    flex-direction: row;
}

#languageText{
    align-self: flex-start;
}


#preferenceLanguage{
    display: flex;
    text-align: center;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    
}

#closeLanguage{
    align-self: flex-end;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

#chooseLanguage a{
    margin-left: 10px;
}

#preferenceLanguage a{
    text-decoration: none;
}

#learnMore{
    font-size: 10px;
    margin-top: 20px;
    margin-right: 10px;
}

#preferenceLanguage p{
    margin-left: 10px;
}

#mainPage{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#video{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 10px;
}

#recommendedVideos{
    display: flex;
    flex-direction: column;    
}

#firstSection{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
    -webkit-box-shadow: 7px 7px 7px -8px rgba(0,0,0,0.52);
-moz-box-shadow: 7px 7px 7px -8px rgba(0,0,0,0.52);
box-shadow: 7px 7px 7px -8px rgba(0,0,0,0.52);
}

#title {
    margin-left: 15px;
}

#userSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    border-bottom: rgb(226, 226, 226);
    border-style: solid;
    border-width: 0 0 1.5px 0;
    margin-left: 15px;
    margin-right: 15px;
}
#middleuser {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#middleuser img {
    margin: 7px 7px 7px 0px;
}
#suscribebutton {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#suscribebutton p {
    margin-bottom: 0;
    font-size: 14px;
    color: rgb(51,51,51);
}

#suscribebutton img{
    width: 77px;
    height: 21px;
    margin-left: 0;
    margin-bottom: 14px;
}

#views {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 0px;
    color: rgb(102, 102, 102);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sharebuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.images {
    width: 20px;
    height: 20px;
}
.images-1 {
    width: 15px;
    height: 15px;
}

#firstthree {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-left: 15px;
    align-items: center;
}
#firstthree button {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-left: 15px;
    align-items: center;
    border: none;
    background-color: white;
}
#firstthree button:hover {
    cursor: pointer;
}

#firstthree button p {
    margin-left: 5px;
}
#lasttwo {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
}

#lasttwo button {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    border: none;
    background-color: white;
}

#lasttwo button:nth-child(2) {
    margin-right: 10px;
  }

  #lasttwo button p {
    margin-left: 5px;
}

